:root {
  --x: -32px;
  --y: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  & > * {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

.hat {
  transition: 0.1s;
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
  background: url("assets/hatCollection.png");
  background-position: var(--x) var(--y);

  z-index: 1;

  /* &::before {
    counter-reset: x var(--x) y var(--y);
    content: counter(x) ", " counter(y);
  } */
}
